html {
    font-family: Arial;
}

.hero-copy {
 display: block;
 margin: 0 auto;
 text-align: center; 
 background-color: lightblue;
 padding: 10px 0px 10px 0px;
}

.accordion {
    display: block;
    width: 50%;
    margin: 20px auto;
}

h2 {
    text-align: center;
}

.forum {
    float: right;
    background-color: lightgrey;
    padding: 5px 10px;
    border-radius: 7px;
}